.hmcvr {
    background: #ffffff;
    height:  268px;
    border-bottom-left-radius:  31px;
    border-bottom-right-radius: 31px;
    margin-top: -26px;
}

.nav {
    margin-top: 0!important;
    background: rgb(255, 255, 255)!important;
    border-bottom: 1px solid;
}

.cnt {
    margin-top: 0!important;
}


button#publish {
    background:  #fff;
}

.cvtp {
    position:  absolute;
    margin-top: 95px;
    left: 50%;
    margin-left:  -100px;
}

.bfr {
    background: #efefef;
    margin-left: -151px;
    padding: 12px;
    border-radius: 12px;
    margin-top:  27px;
    height:  44px;
    width: 493px;
}

input#_xrge {
    position:  absolute;
    width: 128px;
    border: 1px solid;
    background: #fff;
    text-align: center;
}

.rgnd {
    position: absolute;
    margin-left:  156px;
    font-size:  110px;
    margin-top:  -60px;
}

input#_yrge {
    position: absolute;
    margin-left: 210px;
    width: 128px;
    background: #fff;
    text-align:  center;
    border: 1px solid;
}

button#_gorge {
    background: #888888;
    position: absolute;
    margin-left: 360px;
    width:  128px;
    color: #fff;
}
._hmdsd{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

._hmdsd {
    background: transparent;
    width: 1298px;
    margin-left: 25px;
    margin-top: -87px;
    padding:  12px;
}

._adt {
    background-color: rgba(0, 255, 67, 0.58);
    width: 267px;
    height: 299px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#admaker {
    background: #bfbfbf;
    width: fit-content;
    padding: 5px;
    border-radius: 17px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 13px;
    margin-top: 10px;
    position:  absolute;
    margin-left: 190px;
}


.adbdy {
    margin-top: 133px;
    position:  absolute;
}

div#tpy {
    font-size:  75px;
    margin-left:  13px;
}

div#mdma {
    background: #bfbfbf;
    width: fit-content;
    padding: 5px;
    border-radius: 17px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 13px;
    margin-left:  69px;
}

div#adpr {
    font-size: 25px;
    margin-top:  24px;
    font-weight:  900;
    background: #ffffffbf;
    text-align:  center;
    margin-left: 37px;
    padding: 5px;
}

button#bynow {
    margin-top: 246px;
    width: 228px;
    margin-left: 18px;
}

._sdcl {
    margin-top: 19px;
}